[submodule "app_store/studio-templates"]
	path = app_store/studio-templates
	url = git@github.com:pypeclub/studio-templates.git
	branch = master
[submodule "app_store/studio-projects"]
	path = app_store/studio-projects
	url = git@github.com:pypeclub/studio-projects.git
	branch = master
[submodule "app_store/studio-config"]
	path = app_store/studio-config
	url = git@github.com:pypeclub/studio-config.git
	branch = master
[submodule "app/reps/avalon-core"]
	path = app/reps/avalon-core
	url = https://github.com/getavalon/core.git
	branch = master
[submodule "app/reps/avalon-launcher"]
	path = app/reps/avalon-launcher
	url = https://github.com/getavalon/launcher.git
	branch = master
[submodule "app/reps/pyblish-base"]
	path = app/reps/pyblish-base
	url = https://github.com/pyblish/pyblish-base.git
	branch = master
[submodule "app/reps/pyblish-qml"]
	path = app/reps/pyblish-qml
	url = https://github.com/pyblish/pyblish-qml.git
	branch = master
